.carousel {
  position: relative;
}

.carousel__quote {
  display: none;
  margin: 0;

  &.active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (min-width: @vp-768) {
    min-height: 236px;
  }

  @media (min-width: @vp-1150) {
    min-height: 191px;
  }
}

.carousel__text {
  margin: 0 0 33px 0;

  font-size: 15px;
  line-height: 30px;
  color: @charcoal;

  @media (min-width: @vp-768) {
    font-size: 17px;
  }
}

.carousel__author {
  display: block;
  max-width: 285px;

  font-style: normal;
  font-size: 17px;
  line-height: 24px;
}

.carousel__user {
  display: block;

  font-weight: 700;
  font-size: 17px;

  @media (min-width: @vp-768) {
    font-size: 18px;
  }

  @media (min-width: @vp-1150) {
    font-size: 17px;
  }
}

.carousel__nickname {
  display: block;
  margin-top: 3px;

  font-size: 17px;
  line-height: 30px;
  color: @charcoal;
}

.carousel__toggle {
  display: flex;
  margin: 29px 0 0 0;

  @media (min-width: @vp-768) {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.carousel__button {
  width: 100%;
  padding: 10px 38px;

  background: @transparent;
  border: 1px solid @whisper;
  cursor: pointer;

  &--left {
    .carousel__arrow {
      transform: rotate(180deg);
    }
  }

  &:hover {
    .carousel__arrow {
      opacity: 0.6;
    }
  }

  @media (min-width: @vp-768) {
    width: auto;
    padding: 12px 19px;

    border: none;
  }
}
